.sidebar {
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    /* border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(240, 240, 240); */
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}


/* combined two selectors here, 
targetting all images inside sidebar-link class */
.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}
